body {
background-color: #efeee7;
margin: 0;
padding: 0;
font-display: "Times New Roman";
font-size: 18px;
line-height: 150%;
}

h1 {
    color: #efeee7;
    background-color: #333333;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 28px;
}
h2 {
    font-size: 28px;
}
a {
    color: #d21034;
}

.contain {
    width: 1024px;
    margin: 0 auto;
}

#main, 
#contact,
#image {
    float: left;
}
#main {
    width: 70%;
}
#contact {
    width: 30%;
}
#image {
    margin: 20px;
    width: 200px;
    height: 200px;
}